
@{
    ViewBag.Title = "Forgetpassword";
}

<section class="sign-in-area">
    <div class="has-bg">
        <div class="has-bg-3">
            <img src="~/assets/img/bg-3.png" alt="img">
        </div>
        <div class="has-bg-4">
            <img src="~/assets/img/bg-4.png" alt="img">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div class="sign-in-area-bg">
                    <img class="img-fluid" src="~/assets/img/Logo-sm.png" alt="img">
                    <br>
                    <h4>Forget Password </h4>

                    @using (Html.BeginForm("Forgetpassword", "Account", FormMethod.Post))
                    {
                        <small style="color:@ViewBag.Color !important;font-weight:bold;font-size:14px !important "> @ViewBag.Error</small>
                        <input name="Email" required class="form-control input" type="text" placeholder="Enter Email"> 
                        <button type="submit" class="btn btn-primary">
                            Reset Password
                        </button>



                    }
                </div>
            </div>                                                

        </div>
    </div>
</section>

